
  .container{
    top: 0%;
    left: 0%;
    width: 100%;
  height: 100vh;
    overflow: hidden;
    position: absolute;
    filter: url(#goo);
  }
  .particle{
    width: 20px;
    height: 20px;
    top: -20%;
    background-color:white;
    position: absolute;
    border-radius: 50%;
    animation: fall 15s infinite;
    opacity: 1;
  }
  @keyframes fall{
    0% {top: -20%;}
    20% {top: 0%;}
    80% {top: 85%;}
    100%{top: 100%}
  }
  .particle:nth-of-type(2n){
    width: 40px;
    height: 40px;
  }
  .particle:nth-of-type(3n){
    width: 80px;
    height: 80px;
  }
  .particle:nth-of-type(1){
    left: 30%;
    animation-delay: 1s;
  }
  .particle:nth-of-type(2){
    left: 60%;
    animation-delay: 2s;
  }
  .particle:nth-of-type(3){
    left: 25%;
    animation-delay: 3s;
  }
  .particle:nth-of-type(4){
    left: 75%;
    animation-delay: 4s;
  }
  .particle:nth-of-type(5){
    left: 35%;
    animation-delay: 5s;
  }
  .particle:nth-of-type(6){
    left: 50%;
    animation-delay: 6s;
  }
  .particle:nth-of-type(7){
    left: 65%;
    animation-delay: 7s;
  }
  .particle:nth-of-type(8){
    left: 30%;
    animation-delay: 8s;
  }
  .particle:nth-of-type(9){
    left: 55%;
    animation-delay: 9s;
  }
  .particle:nth-of-type(10){
    left: 80%;
    animation-delay: 10s;
  }
  .particle:nth-of-type(11){
    left: 65%;
    animation-delay: 11s;
  }
  .particle:nth-of-type(12){
    left: 11%;
    animation-delay: 12s;
  }
  .particle:nth-of-type(13){
    left: 40%;
    animation-delay: 13s;
  }
  .particle:nth-of-type(14){
    left: 15%;
    animation-delay: 14s;
  }
  .particle:nth-of-type(15){
    left: 20%;
    animation-delay: 15s;
  }
  /*Cloud*/

#cloud1{
  position: absolute;
  left:50%;
  top: 7%;
  animation: cloud_move 30s linear infinite ;
}
@keyframes cloud_move{
  
  0% {left: 20%;}
  80% {left: 80%;}
  100%{left: 100%}
}

#bcloud3{
  position: absolute;
  left:50%;
  top: 30%;
  animation: bcloud_move 30s linear infinite ;
}
@keyframes bcloud_move{
  0% {left:  30%;}
  
  80% {left: 80%;}
  100%{left: 100%}
}
  
  /*Cloud*/
  /*Girl*/
  #facebook, #twitter , #instagram{
    display: none;
  }

  /*Girl*/
  @media screen and (max-width: 600px){
    .container{
      display: none;
    }
    .threeD{
      left: 50%;
      top: 60%;
      transform: translate(-50%,-50%);
      font-size: 2em;
    }
    #year{
      left: 10%;
      top: 60%;
    }
    #cloud1{
      height: 20vh;
      opacity: 0.5;
      top: 30%;
    }
    #bcloud3{
      display: none;
    }
  }
#demo{
  position: absolute;
  color: aliceblue;
  font-size: 4em;
  left: 35%;
  top: 35%;
  opacity: 0.2;
}